<div class="row" id="game-wrapper">
	<div class="col-md-3">
		<high-score info="highScore"></high-score>
	</div>

	<div class="col-md-8" id="play-game-wrapper">
		<div>
			<button ng-show="!vm.gameStarted" type="button" class="btn btn-primary" ng-click="vm.startGame()">Start Game</button>

			<button  ng-show="vm.gameStarted" type="button" class="btn btn-primary" ng-click="vm.endGame()">End Game</button>

			<div id="countdown">
				<b>Time left:</b> <span class="badge">{{vm.leftTime}}</span>
			</div>

			<div id="user-score">
			Score <span class="label label-success">{{vm.user.score}}</span>
			</div>
		</div>

		<div ng-show="vm.gameStarted">
			<form class="form-horizontal" id="game">
				<div class="form-group">
					<label class="col-md-2 control-label">Magled word:</label>
					<div class="col-md-9 magled-word">{{vm.currentWord.magledWord | uppercase}}</div>
				</div>

				<div class="form-group" ng-class="{'has-success has-feedback': (vm.shouldCheckWord && vm.isWordCorrect), 'has-error has-feedback': vm.shouldCheckWord && !vm.isWordCorrect}">
					<label class="col-md-2 control-label">Correct word:</label>
					<div class="col-md-9">
						<input class="form-control" id="correct-word" type="text" ng-model="vm.guessedWord">
						<span ng-class="{'glyphicon glyphicon-ok form-control-feedback': (vm.shouldCheckWord && vm.isWordCorrect), 'glyphicon glyphicon-remove form-control-feedback': (vm.shouldCheckWord && !vm.isWordCorrect)}"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-9 col-md-offset-2 word-game-actions">
						<button type="button" class="btn btn-primary" ng-click="vm.onWordSubmit()">Submit</button>
						<button type="button" class="btn btn-primary" ng-click="vm.onGetNextWord()">Next word</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</form>
		</div>


	</div>
</div>